.brand-link {
    width: 100%;
    text-align: center;
    display: block;  }

  .main-sidebar {
    bottom: 32px;
    float: none;
    height: auto;
    left: 32px;
    position: fixed;
    top: 32px;
    width: $sidebar-width;
    padding: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: white;
  }

  .control-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    position: fixed;
    top: 0;

    // .control-sidebar-content {
    //     height: calc(100vh - #{$main-header-height});
    // }
  }